<h2>My Profile</h2>

<p>
  <strong>Name:</strong> <%= @user.name %>
</p>
<p>
  <strong>Email:</strong> <%= @user.email %>
</p>
<p>
  <strong>Points:</strong> <%= @user.points %>
</p>

<p><%= link_to "Edit", "/users/#{@user.id}/edit", class: 'btn btn-default' %></p>

<% if @user.admin == false %>
<% @reservations = Reservation.where(user_id: @user.id) %>

<h3>Reservation History</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Last Modifed</th>
        <th>Restaurant</th>
        <th>Guest</th>
        <th>Dine time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @reservations.each do |reservation| %>

        <tr>
            <td><%= reservation.reserve_at.strftime("%A %B %e, %Y, %H:%M:%S") %></td>
            <td><%= reservation.restaurant.name %></td>
            <td><%= reservation.guest.name %></td>
            <td><%= reservation.dine_at.strftime("%A %B %e, %Y, %H:%M:%S") %></td>
            <% if session["user_id"].present? %>
              <% if session["user_id"] == reservation.user_id %>
                <td><%= link_to "Cancel", "/reservations/#{reservation.id}", method: 'delete' %>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
        </tr>

      <% end %>
    </tbody>
  </table>

  <% end %>
  