<h3>Reservations</h3>

  <table>
    <thead>
      <tr>
        <th>Last Modifed</th>
        <th>Restaurant</th>
        <th>Guest</th>
        <th>Dine time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @reservations.each do |reservation| %>

        <tr>
            <td><%= reservation.reserve_at.strftime("%A %B %e, %Y, %H:%M:%S") %></td>
            <td><%= reservation.restaurant.name %></td>
            <td><%= reservation.guest.name %></td>
            <td><%= reservation.dine_at %></td>
            <td><%= link_to "Toast", "/reservations/#{reservation.id}", method: 'delete' %>
        </tr>

      <% end %>
    </tbody>
  </table>
