

<h3>Make a Reservation</h3>

<%# if session["user_id"].blank? %>


<%= form_tag "/reservations" do %>

<p>
  <%= label_tag "Table for people" %>
  <%= select_tag "people", options_for_select(Table.where(restaurant_id: params["restaurant_id"]).group(:capacity).uniq.map { |f| [f.capacity]}) %>
</p>

<p>
  <p><%= label_tag "Time" %></p>
 <!--  <div style="overflow:hidden;">
    <div class="form-group">
      <div class="row">
        <div class="col-md-8">
        <div id="datetimepicker12" name="dine_at"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker12').datetimepicker({
          // Default: false,
          inline: true,
          sideBySide: true,
          // disabledHours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23, 24],
          // enabledHours: [ 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22]
        });
      });
    </script>
  </div> -->
    <div class="container">
      <div class="row">
          <div class='col-sm-6'>
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" name="dine_at" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
          </script>
      </div>
    </div>
  </p>

  <p>
    <%= submit_tag "Reserve", class: 'btn btn-success' %>

    or

    <%= link_to "Cancel", "/restaurants/#{cookies["rest_id"]}" %>
  </p>

  <% end %>
