<h3>Add Reservation</h3>

<%= form_tag "/reservations" do %>

  <p>
    <%= label_tag "flight_id", "Flight" %>
    <%= select_tag "flight_id", options_for_select(Flight.all.map { |f| [f.descriptor, f.id]}) %>
  </p>

  <p>
    <%= label_tag "user_id", "Passenger" %>
    <%= select_tag "user_id", options_for_select(User.order('name').map { |u| [u.name, u.id]}) %>
  </p>

  <p>
      <%= submit_tag "Make Reservation", class: 'button' %>

      or

      <%= link_to "Cancel", "/reservations" %>
  </p>

<% end %>
