<h3>Add a Table</h3>

<% @rest = Restaurant.find_by(id: params["restaurant_id"]) %>

<%= form_tag "/tables" do %>

  <p>
    <%= label_tag "Restaurant" %>
    <%= @rest.name %>
  </p>

  <p>
    <%= label_tag "Capacity" %>
    <%= text_field_tag "capacity" %>
  </p>

<!--   <p>
    <%= label_tag "Number of Table" %>
    <%= text_field_tag "table_number" %>
  </p> -->
  <%= hidden_field_tag(:restaurant_id, @rest.id) %>

  <p>
      <%= submit_tag "Add table", class: 'btn btn-success' %>

      or

      <%= link_to "Cancel", "/restaurants/#{@rest.id}/edit" %>
  </p>

<% end %>
