

<% if session["user_id"].present? %>
  <% u = User.find_by(id: session["user_id"]) %>
  <% if u.admin == true %>
    <br>
    <p><%= link_to "Add a Restaurant", "/restaurants/new", class: 'btn btn-info' %></p>
  <% end %>
<% end %>


<!-- <br></br> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Reviews</th>
        <% if session["user_id"].present? %>
          <% u = User.find_by(id: session["user_id"]) %>
          <% if u.admin == true %>
            <th>Number of Tables</th>
            <th></th>
            <th></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>

      <% @restaurants.each do |rest| %>

        <tr>
            <td>
              <%= link_to "#{rest.name}", "/restaurants/#{rest.id}" %>
            <td><%= rest.address %></td>
            <td><%= link_to "Reviews", "/reviews?restaurant_id=#{rest.id}" %>
            <% if session["user_id"].present? %>
              <% u = User.find_by(id: session["user_id"]) %>
              <% if u.admin == true %>
                <td><%= rest.table_number %></td>
                <td><%= link_to "Edit", "/restaurants/#{rest.id}/edit" %>
                <td><%= link_to "Delete", "/restaurants/#{rest.id}", method: 'delete' %>
                
                
              <% end %>
            <% end %>

        </tr>

      <% end %>
    </tbody>
  </table>

  <% restcount = Restaurant.count/10 %>
  <% if Restaurant.count%10 != 0 %>
    <% restcount = restcount + 1 %>
  <% end %>
  <div class="col-md-12 text-center" >
  <%= paginate @restaurants %>
  </div>
