<h3>Add Flight</h3>

<%= form_tag "/flights" do %>

  <p>
    <%= label_tag "leaves_on" %>
    <%= text_field_tag "leaves_on" %>
  </p>

  <p>
    <%= label_tag "flight_number" %>
    <%= text_field_tag "flight_number" %>
  </p>

  <p>
    <%= label_tag "destination" %>
    <%= text_field_tag "destination" %>
  </p>

  <p>
    <%= label_tag "departure_time" %>
    <%= text_field_tag "departure_time" %>
  </p>

  <p>
    <%= label_tag "duration" %>
    <%= text_field_tag "duration" %>
  </p>

  <p>
    <%= label_tag "arrival_time" %>
    <%= text_field_tag "arrival_time" %>
  </p>

  <p>
    <%= label_tag "earned_miles" %>
    <%= text_field_tag "earned_miles" %>
  </p>

  <p>
      <%= submit_tag "Add Flight", class: 'button' %>

      or

      <%= link_to "Cancel", "/flights" %>
  </p>

<% end %>
