<h3>Reviews</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Review</th>
        <th>Reviewer</th>
        <th>Last Modifed</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @reviews.each do |review| %>
        <%restaurant = Restaurant.find_by(id: review.restaurant_id) %>

        <tr>
            
            <td><%= restaurant.name %></td>
            <td><%= review.content %></td>
            <td><%= review.reviewer.name %></td>
            <td><%= review.updated_at.in_time_zone("Central Time (US & Canada)").strftime("%B %e, %Y, %H:%M:%S") %></td>
            <% if session["user_id"].present? %>
              <% if review.user_id == session["user_id"] %>
                <td><%= link_to "Edit", "/reviews/#{review.id}/edit" %>
                <td><%= link_to "Delete", "/reviews/#{review.id}", method: 'delete' %>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            <% end %>

            
        </tr>

      <% end %>
    </tbody>
  </table>

   <%= paginate @reviews %>
