<h3>Statistics of TinyTable</h3>
<br>
<p><strong>Total number of restaurants</strong>: <%= Restaurant.count %></p>
<p><strong>Total number of users</strong>: <%= User.count %></p>
<p><strong>Total number of reservations</strong>: <%= Reservation.count %></p>
<p><strong>Total number of reviews</strong>: <%= Review.count %></p>

<br>
<p> Number of Administrator and Customer (pie chart, Customer:false, Administrator:true)</p>
<%= pie_chart User.group(:admin).count %>


<p> Number of Administrator and Customer (3D pie chart)</p>
<% userData = Array.new %>
<% userdist = User.group(:admin).count%>
<% entry = [ "Customer", userdist[false]]%>
<% userData.insert(-1, entry)%> 
<% entry = [ "Administrator", userdist[true]] %>
<% userData.insert(-1, entry)%> 
<%#= userData %>

<head>
  <style media="screen">
    body, html { overflow-x: visible; }
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'type');
    data.addColumn('number', 'count');
    <% userData.each do|type,count|%>
    data.addRow(["<%= type %>" ,<%= count %> ])
    <% end %>


    var options = {
      title: 'Administrator vs Customer',
      backgroundColor: { fill:'transparent' },
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>
</head>
<body>
  <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</body>

<p> Number of tables in restaurants distribution</p>

<% tableData = Array.new %>
<% tabledist = Restaurant.group(:table_number).count %>
<% (1..10).each do |t| %> 
<% entry = [ "#{t}", tabledist[t]] %>
<% tableData.insert(-1, entry)%> 
<% end %>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Number of Tables');
      data.addColumn('number', 'counts');
      <% tableData.each do |numbers,counts|%>
      data.addRow(["<%= numbers %>" ,<%= counts %> ])
      <% end %>

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1]);

      var options = {
        // title: "Number of tables distribution",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
        backgroundColor: { fill:'transparent' },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
    }
  </script>
</head>
<body>
  <div id="barchart_values" style="width: 900px; height: 300px;"></div>
  <!-- <div id="piechart_3d" style="width: 900px; height: 500px;"></div> -->
</body>